include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft cmsplugin_blog_attachments
global-exclude *.orig *.pyc *.log
prune cmsplugin_blog_attachments/tests/coverage
prune cmsplugin_blog_attachments/.ropeproject
